CortexTest/.vs/
CortexTest/CortexTest.sdf
CortexTest/ipch/
CortexTest/CortexTest.VC.opendb
CortexTest/CortexTest.vcxproj.user
CortexTest/x64/
Cortex_Matlab/x64/
Cortex_Matlab/Cortex_Matlab.vcxproj.user
x64/Debug/CortexTest.lib
.vs/CortexTest/v14/.suo
x64/
.vs/
